<!DOCTYPE html >
<html lang="pt-br" ng-app="cadastro">
<head>
	<meta charset="UTF-8">
	<title >User Feedback</title>
	<link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body>

<script src="jquery.js"></script>

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-auto-validate/dist/jcs-auto-validate.js"></script>
<script src="libs/ladda/dist/spin.min.js"></script>
<script src="libs/ladda/dist/ladda.min.js"></script>
<script src="libs/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="libs/angular-validation-match/dist/angular-validation-match.min.js"></script>

<script src="cadastro.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Recogme</a>
		</div>
	</div>
</nav>

<div class="main-content col-xs-6 col-md-offset-3" ng-controller="CadastroCtrl">

	<form id="formField" name="userForm" ng-model="userForm" role="form" data-toggle="validator" ng-submit="onSubmit()" autocomplete="off"
		  novalidate="novalidate" ng-hide="submitted">

		<div class="form-group">
			<label for="name" class="control-label">Nome</label>
			<div>
			<input type="text"
				   name="name"
			       class="form-control"
			       ng-model="formModel.name"
			       id="name"
				   required="required"
				   ng-required-err-type="emptyField"
				   >
			</div>
			<label for="confirmName" class="control-label">Confirme seu nome</label>
			<input type="text"
				   name="confirmName"
			       class="form-control"
			       ng-model="formModel.confirmName"
			       id="name"
				   match="formModel.name"
				   ng-match-err-type="nameMatchErr"
			   	   >
		</div>

		<div class="form-group">
			<label for="email" class="control-label">Email</label>
			<input type="email"
				   autocomplete="off"
			       class="form-control"
			       ng-model="formModel.email"
			       id="email"
				   required="required"
				   ng-required-err-type="emptyField"
				   ng-email-err-type="invalidEmail"
				   >
		</div>

		<div class="form-group">
			<label for="confirmEmail" class="control-label">Confirme seu email</label>
			<input type="email"
			       class="form-control"
			       ng-model="formModel.confirmEmail"
			       id="confirmEmail"
			       ng-email-err-type="invalidEmail"
				   ng-required-err-type="emptyField"
				   match="formModel.email"
				   ng-match-err-type="emailMatchErr"
			   	   >
		</div>

	
		<div class="form-group">
			<label for="password" class="control-label">Senha</label>
			<input type="password"
			       class="form-control"
			       id="password"
			       ng-model="formModel.password"
			       required="required"
			       ng-required-err-type="emptyField"
				   ng-pattern="/^[A-Za-z0-9_]{10,32}$/"
				   ng-pattern-err-type="invalidPassword"
				   >
		</div>

		<div class="form-group">
			<label for="confirmPassword" class="control-label">Confirme sua senha</label>
			<input type="password"
			       class="form-control"
			       ng-model="formModel.confirmPassword"
			       id="password"
				   match="formModel.password"
				   ng-match-err-type="passwordMatchErr"
				   > 
		</div>

		<div class="form-group">
		<div class="form-group" ng-controller="getRandomText">
			<!-- o texto precisa dar match com os campos abaixo -->
			<p>{{datajson[whichItem].content}}</p>

		</div>
			<div class="form-group">

		  		<label for="comment">Digite o texto acima</label>
		  		<textarea type="text" 
		  		          id="userText" 
		  		          class="form-control" 
		  				  ng-model="formModel.userText"
		  				  name="userText"
		  				  required="required"
		  				  ng-required-err-type="emptyField"

		  				  rows="5"></textarea>
			</div>

			<div class="form-group">
		  		<label for="comment">Confirme o texto</label>
		  		<textarea type="text" 
		  				  class="form-control"
		  				  ng-model="formModel.confirmUserText"
		  				  id="confirmText" 
		  				  required="required"
		  				  ng-required-err-type="emptyField"
		  				  match="formModel.userText"
		  				  ng-match-err-type="textMatchErr"
		  				  rows="5"
					   	  ></textarea>
			</div>
		</div>

		<div class="form-group">

			<div class="alert alert-danger text-center" ng-show="has_error">
				<h3>Houve algum problema no seu registro, por favor tente mais tarde.</h3>
			</div>

			<button class="btn btn-primary"
			        ladda="submitting"
			        data-style="expand-right"
					type="submit">
				<span ng-show="submitting">Registrando</span>
				<span ng-show="!submitting">Registrar</span>
			</button>
		</div>
		
	</form>

	<div class="alert alert-info text-center" ng-show="submitted">
			<h3>Registro realizado com sucesso!</h3>
		</div>
</div>


<script src="keycodes.js"></script>
<script src="keystroke.js"></script>

</body >
</html >
