<!DOCTYPE html >
<html lang="pt-br" ng-app="cadastro">
<head>
	<meta charset="UTF-8">
	<title >User Feedback</title>
	<link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body>

<script src="jquery.js"></script>

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-auto-validate/dist/jcs-auto-validate.js"></script>
<script src="libs/ladda/dist/spin.min.js"></script>
<script src="libs/ladda/dist/ladda.min.js"></script>
<script src="libs/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="libs/validation-match/dist/angular-validation-match.min.js"></script>

<script src="cadastro.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Recogme</a>
		</div>
	</div>
</nav>

<div class="main-content col-xs-4 col-md-offset-4" ng-controller="CadastroCtrl">

	<form id="formField" name="userForm" ng-model="userForm" role="form" data-toggle="validator" ng-submit="onSubmit()" autocomplete="off"
		  novalidate="novalidate" ng-hide="submitted">
		 
		 <div style="display: none;">
 			<input type="text" id="PreventAutocomplete"  type="hidden"
  			name="PreventChromeAutocomplete" autocomplete="address-level4" />
		</div>

		
			
		<div class="form-group">
			<h1 for="email" class="control-label" align="center">Sign In</h1>
			<input type="email"
				   placeholder = "Email"
			       class="form-control"
			       ng-model="formModel.email"
			       id="email"
				   required="required"
				   ng-required-err-type="emptyField"
				   ng-email-err-type="invalidEmail"
				   >
		</div>
	
		<div class="form-group">
			
			<input type="password"
				   placeholder = "Senha"
				   autocomplete="off"
			       class="form-control"
			       id="password"
			       ng-model="formModel.password"
			       required="required"
			       ng-required-err-type="emptyField"
				   ng-pattern="/^[A-Za-z0-9_]{10,32}$/"
				   ng-pattern-err-type="invalidPassword"
				   >
		</div>

		<div class="form-group">
		<div class="form-group" ng-controller="getRandomTextCtrl">
			<label for="textField">Frase: </label>
			<p id="textField" ng-model="textField">Imagine uma nova história para sua vida e acredite nela.</p>

		</div>
			<div class="form-group">

		  		<label for="comment">Digite a frase acima</label>
		  		<textarea type="text" 
		  		          id="userText"
		  		          class="form-control" 
		  				  ng-model="formModel.userText"
		  				  name="userText"
		  				  required="required"
		  				  ng-required-err-type="emptyField"
						  match="textField"
		  				  ng-match-err-type="textMatchErr"
		  				  rows="5"></textarea>
			</div>

		</div>

		<div class="form-group">

			<div style="display: none;" class="alert alert-danger text-center" ng-show="has_error" display="none">
				<h3>Login Inválido.</h3>
			</div>

			<button class="btn btn-primary"
			        ladda="submitting"
			        data-style="expand-right"
					type="submit"
					id="btnclick">
				<span ng-show="!submitting">Sign In</span>
				<span id="span_signing" ng-show="submitting" style="display: none;">Signing In</span>
			</button>
		</div>
		
	</form>

</div>

<script type="text/javascript">
	$('#btnclick').click(function (event) {
    	$('#span_signing').css('display','inline');
	});
</script>

<script src="keycodes.js"></script>
<script src="keystroke.js"></script>

</body>
</html>
