{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- <script src="libs/angular/angular.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
 
 
 
<!-- <script src="libs/angular-auto-validate/dist/jcs-auto-validate.js"></script> -->
 
<script src="https://cdn.rawgit.com/jonsamwell/angular-auto-validate/master/dist/jcs-auto-validate.js"></script>
 
 
<!-- <script src="libs/ladda/dist/spin.min.js"></script> -->
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/spin.min.js"></script>
 
<!-- <script src="libs/ladda/dist/ladda.min.js"></script> -->
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.js"></script>
 
 
<!-- <script src="libs/angular-ladda/dist/angular-ladda.min.js"></script> -->
<script type="text/javascript" src="https://cdn.rawgit.com/kevinsproles/angular-ladda/0.1.7/dist/angular-ladda.min.js"></script>
 
 
<!-- <script src="libs/validation-match/dist/angular-validation-match.min.js"></script> -->
 
<script type="text/javascript" src="https://cdn.rawgit.com/TheSharpieOne/angular-validation-match/master/dist/angular-validation-match.min.js"></script>

{# Circle Progress   #}
<script src="{% static 'js/circle-progress.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda-themeless.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afuersch/css-percentage-circle/master/css/circle.css">
        <!-- <link rel="stylesheet" href="http://azmind.com/demo/bootstrap-registration-forms/form-1/assets/css/style.css"> -->
    <link href="{% static 'css/cadastro.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/nav-var.css' %}" rel="stylesheet" type="text/css">

    <!-- <link href="{% static 'img/thumbs-up.png' %}" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'img/thumbs-down.png' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'img/background.jpg' %}" rel="stylesheet" type="text/css">

    <style type="text/css">
        .error {
          color: red;
        }
    </style>


</head>
<body>
<!-- <img src="{% static 'img/thumbs-down.png' %}"  alt="joinha" width="304" height="236"> -->


<nav class="navbar navbar-default navbar-fixed-top">

<div class="container">

  <div class="navbar-header">

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

      <span class="sr-only">Toggle navigation</span>

      <span class="icon-bar"></span>

      <span class="icon-bar"></span>

      <span class="icon-bar"></span>

    </button>

    <a class="navbar-brand" href="#">Recogme</a>

  </div>

<div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">

            <li class="active"><a href="#">Home</a></li>

            <li><a href="#about">About</a></li>


      </ul>
 

<ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}

          <li><a href="{% url 'accounts.index' %}">{{ user.username }}</a></li>
          <li><a href="{% url 'accounts.logout' %}">Logout</a></li>
          <li><a href="{% url 'accounts.ataque' %}">Falso Login</a></li>

       {% else %}

 <li><a href="{% url 'accounts.registro' %}">Registro</a></li>

            <li><a href="{% url 'accounts.login' %}">Login</a></li>

   {% endif %}

</ul>



</div><!--/.nav-collapse -->


</div>

</nav>



    <div class="cover" >
      <div class="cover-image" ></div>
      <div class="container" style="border:2px solid #35a1e2; border-radius:25px;background-color:white;">

            <div style="display: none;">
                  <input type="text" id="PreventAutocomplete"  type="hidden"
                    name="PreventChromeAutocomplete" autocomplete="address-level4" />
                </div>
                  
          {% include '_messages.html' %}
          <div class="jumbotron" style="background-color:white;">
      <div class="container">
       <!--  <h1>Welcome to Recogme !!!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p> -->
       <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
    <br>
            {% block content %}{% endblock content %}
      </div>
    </div>



    


</body></html>