{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="row">

<div class="col-md-4 col-md-offset-4">

<div class="page-header"><h2>Login</h2></div>

{% if mensaje %}

<div class="alert alert-danger">

{{ mensaje }}

</div>

{% endif %}

<form method="post" action="">

{% csrf_token %}

<div class="form-group">

	<label class="control-label" for="email">Email de usuario</label>

	<input type="text" id="email" name="email" class="form-control" value="{{ email }}">

</div>

	<div class="form-group">

		<label for="password">Senha</label>

		<input type="password" name="password" id="password" class="form-control">

	</div>

<button type="submit" class="btn btn-primary">Login</button>

</form>

</div>

</div>

<script src="{% static 'js/keycodes.js' %}"></script>
<script src="{% static 'js/keystroke.js' %}"></script>

{% endblock content %}