{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}
<div class="row" ng-app="cadastro" style="border:2px solid #b3b3b3;  border-radius:25px;">
  <div class="col-md-12 text-center signup"  >
    <div class="page-header" >
        <h2>Sign Up</h2>
    </div>
    <style type="text/css">
     /* .help-block{
        background-color: white;
        border: 1px solid red;
      }
*/
     

    </style>
   <!--  <form class="registro" id="formField" method="post" action="" enctype="multipart/form-data" autocomplete="off"
		  novalidate="novalidate">


        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form> -->
    <div class="main-content col-xs-6 col-md-offset-3" ng-controller="CadastroCtrl" >

            <form class= "registro" id="formField" name="userForm" role="form" action="" data-toggle="validator" autocomplete="off"
                  novalidate="novalidate" method="POST">
                  {% csrf_token %}
                 <div style="display: none;">
                    <input type="text" id="PreventAutocomplete"  type="hidden"
                    name="PreventChromeAutocomplete" autocomplete="address-level4" />
                </div>

                <div class="form-group input-group">
                    <!-- <label for="name" class="control-label">Enter name</label> -->
                        <span class="input-group-addon" ><i class="fa fa-circle-o-notch fa-1x" ></i></span>
                                        

                    <input type="text"
                           name="fullName" 
                           class="form-control "
                           ng-model="formModel.name"
                           id="fullName"
                           required="required"
                           ng-required-err-type="emptyField" 
                           placeholder="Enter name"

                          >
                           
                    </input>


                </div>

                <div class="form-group input-group">
                     <!-- <label for="confirmFullName" class="control-label">Re-enter name</label> -->
                      <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                 <input type="text"
                           name="confirmFullName"
                           class="form-control"
                           ng-model="formModel.confirmName"
                           id="confirmFullName"
                           match="formModel.name"
                           ng-match-err-type="nameMatchErr"
                           placeholder="Re-enter name"
                           />

                </div>

                <br>

                <div class="form-group input-group">
                    <!-- <label for="email" class="control-label">Enter Email</label> -->
                                          <span class="input-group-addon fa fa-at"></span>

                    <input type="email"
                           
                           class="form-control"
                           ng-model="formModel.email"
                           id="email"
                           name="email"
                           required="required"
                           ng-required-err-type="emptyField"
                           ng-email-err-type="invalidEmail"
                           placeholder = "Enter email"
                           >
                </div>

                <div class="form-group input-group">
                    <!-- <label for="confirmEmail" class="control-label">Re-enter email</label> -->

                     <span class="input-group-addon fa fa-at"></span>
                    <input type="email"
                
                           class="form-control"
                           ng-model="formModel.confirmEmail"
                           id="confirmEmail"
                           ng-email-err-type="invalidEmail"
                           ng-required-err-type="emptyField"
                           match="formModel.email"
                           ng-match-err-type="emailMatchErr"
                           placeholder = "Re-enter email"
                           >
                </div>

                <br>
            
                <div class="form-group input-group">
                    <!-- <label for="password" class="control-label">Password</label> -->
                    <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                    <input type="password"
                           autocomplete="off"
                           class="form-control"
                           id="password"
                            name="password"
                           ng-model="formModel.password"
                           required="required"
                           ng-required-err-type="emptyField"
                           ng-pattern="/((^[0-9]+[a-z]+)|(^[a-z]+[0-9]+))[0-9a-z]{2,}$/i"
                           ng-pattern-err-type="invalidPassword"
                           placeholder = "Password"
                           >
                </div>

                <div class="form-group input-group">
                    <!-- <label for="confirmPassword" class="control-label">Re-enter password</label> -->
                    <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                    <input type="password"
                           class="form-control"
                           ng-model="formModel.confirmPassword"
                           id="confirmPassword"
                           match="formModel.password"
                           ng-match-err-type="passwordMatchErr"
                           placeholder = "Re-enter password"
                           > 
                </div>

                <div class="form-group">
                <div class="form-group">
                    <label for="textField">Type:  </label>
                    <p id="textField" ng-model="textField">Para as rosas, escreveu alguém, o jardineiro é eterno.</p>

                </div>
                    <div class="form-group">

                        <textarea type="text" 
                                  id="userText"
                                  class="form-control" 
                                  ng-model="formModel.userText"
                                  name="userText"
                                  required="required"
                                  ng-required-err-type="emptyField"
                                  match="textField"
                                  ng-match-err-type="textMatchErr"

                                  rows="5"></textarea>
                    </div>

                </div>

              

                <div class="form-group">

                    <div id="unsuccess_msg" class="alert alert-danger text-center" ng-show="has_error" 
                         style="display: none;">
                        <h3>Houve algum problema no seu registro, por favor tente mais tarde.</h3>
                    </div>

                    <button class="btn btn-primary"
                            ladda="submitting"
                            data-style="expand-right"
                            type="submit"
                            id="form">
                        <span id="span_registering" ng-show="submitting" style="display: none;">Registrando</span>
                        <span ng-show="!submitting">Registrar</span>
                    </button>
                </div>
                
            </form>


    <div id="success_msg" style="display: none;" 
         class="alert alert-info text-center" ng-show="submitted">
            <h3>Registro realizado com sucesso!</h3>
    </div>
</div>
    <br>
    <br>
  </div>
</div>
    


    <script src="{% static 'js/keycodes.js' %}"></script>
    <script src="{% static 'js/keystroke.js' %}"></script>

     <script src="{% static 'js/cadastro.js' %}"></script>

     <script type="text/javascript">



             $(document).ready(function() {
                   $('.help-block').css('background-color','white');;
                    // $("body").css("background-color","blue");
             });

         

        // $('#btnclick').click(function (event) {

        // });
</script>

{% endblock content %}
